@import '../styles/variables.css';

.label {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-md);
  color: var(--ui-color-label-text);
  display: inline-flex;
  align-items: center;
  gap: var(--xss);
  cursor: pointer;
  user-select: none;
}

.label__required {
  color: var(--ui-color-label-text);
  font-weight: var(--font-weight-bold);
  margin-inline-end: var(--xss);
}
