@import '../styles/variables.css';

.loading {
  pointer-events: none;
  display: inline-block;
}

.loading--small {
  inline-size: var(--loading-size-small);
  block-size: var(--loading-size-small);
}

.loading--medium {
  inline-size: var(--loading-size-medium);
  block-size: var(--loading-size-medium);
}

.loading--large {
  inline-size: var(--loading-size-large);
  block-size: var(--loading-size-large);
}

.spinner {
  pointer-events: none;
  inline-size: 100%;
  block-size: 100%;
  border: 0.2em solid transparent;
  border-color: #eee;
  border-block-start-color: var(--color-primary-600);
  border-radius: 50%;
  animation: loadingspin 0.8s linear infinite;
}

[data-theme='dark'] .spinner {
  border-color: rgba(255, 255, 255, 0.3);
  border-block-start-color: var(--color-secondary-500);
}

@keyframes loadingspin {
  100% {
    transform: rotate(360deg);
  }
}
