@import url('../styles/variables.css');

.tabs {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
}

.tabs__list {
  display: flex;
  align-items: center;
}

.tabs__trigger {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  padding-block: var(--component-padding-block-base)
    calc(var(--component-padding-block-base) - var(--highlight-border-size));
  padding-inline: var(--component-padding-inline-base);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-sm);
  color: var(--color-gray-900);
  background-color: transparent;
  border-block-end: var(--highlight-border-size) solid transparent;
  border-start-start-radius: var(--border-radius-md);
  border-start-end-radius: var(--border-radius-md);
  border-end-start-radius: 0;
  border-end-end-radius: 0;
  cursor: pointer;
  transition:
    background-color var(--transition-base),
    color var(--transition-base),
    box-shadow var(--transition-base);
  outline: none;
  text-decoration-line: none;
  box-sizing: border-box;
}

.tabs__trigger:hover:not([data-disabled]) {
  background-color: var(--color-gray-300);
  color: var(--color-gray-900);
}

.tabs__trigger:focus-visible {
  outline: var(--focus-outline-width) solid var(--focus-outline-color);
  outline-offset: var(--focus-outline-offset);
}

.tabs__trigger[data-state='active'] {
  background-color: var(--color-gray-100);
  color: var(--color-gray-900);
  border-block-end-color: var(--highlight-border);
}

.tabs__trigger:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;
}

.tabs__content {
  padding: 0;
  outline: none;
}

.tabs__content:focus-visible {
  outline: var(--focus-outline-width) solid var(--focus-outline-color);
  outline-offset: var(--focus-outline-offset);
}

.tabs__content[data-state='active'] {
  animation: fadeIn var(--transition-fast);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
