@import '../styles/variables.css';

.text-input {
  display: flex;
  flex-direction: column;
  gap: var(--xss);
}

.text-input__label {
  margin-block-end: 0;
}

.text-input__input {
  inline-size: 100%;
  padding-block: calc(var(--component-padding-block-base) - 1px);
  padding-inline: var(--component-padding-inline-base);
  border: 1px solid var(--ui-color-input-border-default);
  border-radius: var(--border-radius-md);
  background-color: var(--ui-color-input-bg);
  color: var(--ui-color-input-text-default);
  font-size: var(--font-size-md);
  line-height: var(--line-height-sm);
  transition:
    border-color var(--transition-base),
    box-shadow var(--transition-base),
    background-color var(--transition-base);
  outline: none;
  box-sizing: border-box;
}

.text-input__input::placeholder {
  color: var(--ui-color-input-placeholder-default);
}

.text-input__input:hover:not(:disabled):not([aria-invalid='true']) {
  border-color: var(--ui-color-input-border-default);
}

.text-input__input:focus {
  outline: var(--focus-outline-width) solid var(--focus-outline-color);
  outline-offset: var(--focus-outline-offset);
  border-color: var(--ui-color-input-border-default);
}

.text-input__input:disabled {
  background-color: var(--ui-color-input-bg-disabled);
  color: var(--ui-color-input-placeholder-default);
  border-color: var(--ui-color-input-border-default);
  cursor: not-allowed;
}

.text-input__input--error {
  border-color: var(--ui-color-danger-600);
}

.text-input__input--error:hover {
  border-color: var(--ui-color-danger-700);
}

.text-input__input--error:focus {
  outline-color: var(--ui-color-danger-600);
  border-color: var(--ui-color-danger-600);
}

.text-input__description {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  margin-block-start: var(--xss);
}

.text-input__description--helper {
  color: var(--ui-color-input-placeholder-default);
}

.text-input__description--error {
  color: var(--ui-color-danger-600);
  font-weight: var(--font-weight-regular);
}

.text-input__description--default {
  color: var(--ui-color-input-placeholder-default);
}

.text-input__description--danger {
  color: var(--ui-color-danger-600);
}
